{% extends 'BikePartnerBundle::layout.html.twig' %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        单车
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> 首页</li>
        <li>车辆管理</li>
        <li class="active">单车</li>
      </ol>
    </section>


    <section class="content search-section" style="min-height:auto;">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li><a class="tab_link" href="{{ path('bike') }}" data-toggle="tab">单车明细</a></li>
              <li  class="active"><a href="#tab_2" data-toggle="tab">日收益管理</a></li>
              <li><a class="tab_link" href="{{ path('bike_revenue_monthly') }}" data-toggle="tab">月收益管理</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane " id="tab_1">
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane active" id="tab_2">
                <div class="box" style="border:none;margin-bottom:0px;">
                  <div class="box-body" style="border:1px solid #eee;border-radius:3px;border-bottom:0;">
                      <form method="get" id="search-form" class="form-inline">
                        <input type="hidden" name="search" value="1">
                        <div class="form-group">
                          <label>起始时间:</label>
                          <div class="input-group date">
                            <div class="input-group-addon">
                              <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" name="start_time" value="{{ app.request.get('start_time') }}" class="form-control pull-right datepicker">
                          </div>
                        </div>

                        <div class="form-group" style="margin-left:10px;">
                          <label>结束时间:</label>
                          <div class="input-group date">
                            <div class="input-group-addon">
                              <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" name="end_time" value="{{ app.request.get('end_time') }}" class="form-control pull-right datepicker">
                          </div>
                        </div>

                        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i>查询</button>
                        
                      </form>
                  </div>
                </div>

                <!-- daily profit -->
                <div class="row" style="padding-top:15px;">
                  <div class="col-xs-12">
                    <div class="box" style="border-top:1px solid #eee;">
                      <div class="box-header">
                        <h3 class="box-title">列表</h3>

                        <div class="box-tools">

                          <!-- 角色控制 显示-->
{% set role = app.user.getRole() %}
{% if role in ['ROLE_ADMIN','ROLE_AGENT','ROLE_CLIENT'] %}
                          <a href="{{ path('excel_export',{type:'daily_profit'}) }}" class="btn btn-sm  btn-default export_btn"><i class="fa fa-download"></i>导出</a>
{% endif %}
                        </div>

                      </div>
                      <!-- /.box-header -->
                      <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                          <tbody><tr>
                            <th>日期</th>
                            <th>日收益／元</th>
                            <th>操作</th>
                          </tr>
          {% for v in list.log %}
                          <tr>
                            <td>{{ v.getLogDate() }}</td>
                            <td>{{ v.getRevenue() }}</td>
                             
                            <td>
                              <a href="{{ path('bike_revenue',{log_date:v.getLogDate()}) }}" class="btn btn-xs  btn-primary"><i class="fa fa-eye"></i>查看</a>

                            </td>
                          </tr>
          {% endfor %}
                        </tbody></table>
                      </div>
                      <!-- /.box-body -->
                      <div class="box-footer clearfix">
          {% import 'BikePartnerBundle::paginator.macro.twig' as paginator %}
          {{ paginator.paginate(page, totalPage, 5, 'bike', app.request.query.all(), ['pull-right']) }}
                      </div>
                    </div>
                    <!-- /.box -->
                  </div>
                </div>
                <!-- daily profit end -->


              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_3">
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
    </section>


    <!-- 分配车辆modal -->
    <div class="modal fade bs-example-modal-lg" id="bind-modal" tabindex="-1" role="dialog" aria-labelledby="bind-card-modal-label" style="margin-top:100px;">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="bind-card-modal-label">分配车辆</h4>
          </div>
          <div class="modal-body">
            <div class="panel panel-danger modal-error">
              <div class="panel-heading"> 
                <h3 class="panel-title">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <span class="sr-only">Error:</span>
                  <span>出错啦</span>
                </h3> 
              </div> 
              <div class="panel-body"> 
              </div> 
            </div>
            <div class="modal-info">
                <div class="form-group">
                    <label for="bind-bike">用户名</label>
                    <input id="bind-bike" name="username" class="form-control" placeholder="请输入委托人用户名"/> 
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" name="confirm">分配</button>
          </div>
        </div>
      </div>
    </div>    

    <script type="text/javascript">
    window.onload = function(){
      $('.tab_link').click(function(e){
        e.preventDefault();
        var link = $(this).attr('href');
        window.location.href = link;
      });

      /**分配 》》》***/
      var $bindModal = $('#bind-modal');
      $bindModal.on('show.bs.modal', function (e) {
          $bindModal.find('button[name="confirm"]').data('id', $(e.relatedTarget).data('id'));
          $bindModal.find('.modal-error').hide();
      });

      $bindModal.find('button[name="confirm"]').click(function(){ 
          var url = '{{ path('bike_bind') }}';
          var data = {
              id: $bindModal.find('button[name="confirm"]').data('id'),
              username: $bindModal.find('input[name="username"]').val()
          };

          $bindModal.find('button[name="confirm"]').prop('disabled', true);
          $.post(url, data, function(result){
              if (result.errno === 0) {
                  window.location.reload();
              } else {
                  $bindModal.find('.modal-error .panel-body').html(result.errmsg);
                  $bindModal.find('.modal-error').show();
              }
              $bindModal.find('button[name="confirm"]').prop('disabled', false);
          }, 'json'); 
      });
      /*** 《《《分配 END***/

      $('.datepicker').datepicker({
        autoclose: true,
        format: 'yyyy-mm-dd',
        language: 'zh-CN',
      });

      $('.export_btn').click(function(e){
        e.preventDefault();
        var url = $(this).attr('href');
        var start_time = $('input[name=start_time]').val();
        var end_time = $('input[name=end_time]').val();
        var link = url+'?start_time='+start_time+'&&end_time='+end_time;
        window.location.href = link;
      })


    }

    </script>
{% endblock %}
